:root {
    --primary-color: var(--ghost-accent-color, #d9ff00);
    --primary-text-color: #fff;
    --secondary-text-color: #c9c7c7;
    --white-color: #2A2F3B;
    --light-gray-color: #4b4b4b;
    --mid-gray-color: #858585;
    --dark-gray-color: #e7e5e5;
    --black-color: #ffffff;
    --font-sans: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-serif: Lora, Times, serif;
    --animation-base: ease-in-out;
    --shadow-base: 0 0 10px rgba(0, 0, 0, 0.02);
    --content-font-size: 1.7rem;
    --primary-background-color: #0d1017;
}

body {
    background-color: var(--primary-background-color);
}
